* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 5rem;
    font-family: "Gochi Hand", serif;
}

body {
    font-family: "Barlow", serif;
    font-weight: bold;
}

#container_tombola {
    background-color: lightblue;
}

#container_lastNumber {
    background-color: lavender;
}